body {
  font-family: "Quicksand", sans-serif; }

.padding-15 {
  padding-left: 15px;
  padding-right: 15px; }

.card {
  width: 90vw;
  min-height: 400px;
  border-radius: 10px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 2px 10px 0px #5c5c5c;
  -moz-box-shadow: 0px 2px 10px 0px #5c5c5c;
  box-shadow: 0px 2px 10px 0px #5c5c5c;
  transition: margin-left .3s;
  overflow: hidden; }
  @media screen and (min-width: 400px) {
    .card {
      width: 300px; } }

.card-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #5d2ae5;
  font-weight: bold;
  transition: border-top .4s; }
  .card-heading.animated {
    border-top: 8px solid #5d2ae5; }

.card__heading--highlight {
  display: flex;
  justify-content: flex-end;
  width: 90px;
  text-align: right;
  padding: 2px;
  background-color: gold;
  border-radius: 1px;
  color: black;
  -webkit-box-shadow: 0px 1px 5px 0px #a3a3a3;
  -moz-box-shadow: 0px 1px 5px 0px #a3a3a3;
  box-shadow: 0px 1px 5px 0px #a3a3a3; }

.card__input--highlight {
  display: flex;
  justify-content: flex-end;
  min-width: 150px;
  margin-right: auto;
  text-align: right;
  padding: 2px;
  background-color: gold;
  border-radius: 1px;
  color: black;
  -webkit-box-shadow: 0px 1px 5px 0px #a3a3a3;
  -moz-box-shadow: 0px 1px 5px 0px #a3a3a3;
  box-shadow: 0px 1px 5px 0px #a3a3a3; }

.before-battle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: margin-left .4s;
  min-height: 400px; }
  .before-battle.animated {
    margin-left: -200%;
    min-height: 0;
    height: 0; }
  .before-battle .instructions {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    text-align: center;
    font-size: 22px; }
  .before-battle input {
    padding: 10px;
    text-align: center;
    font-size: 17px;
    background-color: #fff;
    opacity: .8; }
    .before-battle input.border {
      border-radius: 5px; }
      .before-battle input.border.purple {
        border: 2px solid #5d2ae5;
        color: #5d2ae5; }
        .before-battle input.border.purple::placeholder {
          color: #5d2ae5; }
    .before-battle input.filled {
      color: #fff; }
      .before-battle input.filled.purple {
        background-color: #5d2ae5; }
      .before-battle input.filled::placeholder {
        color: #fff; }

.during-battle {
  display: flex;
  flex-direction: column;
  margin-left: -200%;
  height: 0;
  transition: margin-left .4s; }
  .during-battle.animated {
    min-height: 400px;
    margin-left: 0; }

.card__monster--name {
  margin-top: 5px;
  text-transform: uppercase;
  text-shadow: 1px 1px #e3e3e3;
  letter-spacing: 3px; }

.card__monster--power {
  padding-top: 15px;
  margin: 0; }

.card__monster--rewards {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #5d2ae5;
  transition: justify-content .4s; }
  .card__monster--rewards .card__monster--levels {
    margin-right: 200%;
    transition: margin-right .4s; }
    .card__monster--rewards .card__monster--levels.animated {
      margin-right: 0; }

.card__monster--badstuff,
.card__monster--abilities {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px; }

.card__monster--badstuff {
  margin-bottom: 15px; }

button {
  border-radius: 5px;
  margin-bottom: 22px;
  padding: 10px 20px;
  font-size: 17px; }
  button.start-battle {
    padding: 10px 40px;
    margin-top: auto; }
  button.filled {
    color: #fff; }
    button.filled.purple {
      background-color: #5d2ae5; }
    button.filled.gold {
      background-color: #ffdf33;
      color: black; }
  button.border {
    background-color: #fff; }
    button.border.purple {
      border: 2px solid #5d2ae5; }

.buttons {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto; }
  @media screen and (min-width: 400px) {
    .buttons {
      width: 300px; } }
  .buttons .buttons-munchkin,
  .buttons .buttons-monster {
    display: flex;
    flex-direction: column;
    width: 70px;
    box-sizing: border-box; }
  .buttons .buttons-munchkin {
    margin-left: -200%;
    transition: margin-left .4s; }
    .buttons .buttons-munchkin.animated {
      margin-left: 0;
      transition: all 1s; }
  .buttons .buttons-monster {
    margin-right: -200%;
    transition: margin-right .4s; }
    .buttons .buttons-monster.animated {
      margin-right: 0;
      transition: all 1s; }
  .buttons .current-winner {
    display: flex;
    justify-content: center;
    flex-grow: 2; }
