body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  background: #4776E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8E54E9, #4776E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8E54E9, #4776E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.card {
  display: block;
  margin: 15px auto;
  width: 75vw; }

@media screen and (min-width: 480px) {
  .card {
    height: 85vh;
    width: auto; } }
