body {
  font-family: "Quicksand", sans-serif; }

.card {
  margin: 0 auto;
  width: 300px;
  height: 450px;
  min-height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px 0px #5c5c5c;
  -moz-box-shadow: 0px 2px 10px 0px #5c5c5c;
  box-shadow: 0px 2px 10px 0px #5c5c5c; }
