// Base Variables/Colors
$primary-font: 'Quicksand', sans-serif;
$white: #fff;
$black: #000;
$purple: #5d2ae5;
$teal: #41d3a2;
$orange: #ff9000;

body {
  font-family: $primary-font;
  margin: 0;
  overflow-x: hidden;
}

.padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}
